<p> {{ interpolationExample }} </p>

<img [src]="propExample" alt="This is just a picture Falcon" class="img" draggable="false" />

<br />

<p> {{ hasBgRed ? "Yes, It has background red." : "No, It has no background red." }} </p>

<button type="button" (click)="buttonHandler()">Toggle</button>

<br />
<br />

<p [class]="{
  'has-bg-blue' : hasBgBlue,
  'has-py-1rem' : hasPaddingBlock,
  'has-px-0.5rem' : hasPaddingInline,
}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam doloribus quaerat amet nostrum eum
  totam. Accusantium, officiis nostrum! Qui, distinctio?
</p>

<br />

<p [style]="{
  'color': 'white',
  'background-color': 'darkcyan',
}">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ipsum.
</p>
