<h2>(For) control flow example</h2>

@for (car of cars; track $index) {
  <div class="car-{{$index}}">
    <p>Make: {{car.make}}</p>
    <p>Model: {{car.model}}</p>
    <p>Year: {{car.year}}</p>
    <p>Color: {{car.color}}</p>
  </div>

  @if (!($index == ($count - 1))) {
    <hr />
  }
} @empty {
  <p>Not items to show here!</p>
}

@switch (age) {
  @case (18) {
    <p>His age is 18 years old</p>
  }

  @case (25) {
    <p>His age is 25 years old</p>
  }

  @default {
    <p>His age is unknown!</p>
  }
}
