<ul class="pt-2rem pb-2rem d-flex flex-wrap ai-center gap-1rem" role="list">
  <li>
    <a class="link" routerLink="interpolation" [routerLinkActive]="'is-active-link'">Interpolation</a>
  </li>

  <li>
    <a class="link" routerLink="property" [routerLinkActive]="'is-active-link'">Property</a>
  </li>

  <li>
    <a class="link" routerLink="event" [routerLinkActive]="'is-active-link'">Event</a>
  </li>

  <li>
    <a class="link" routerLink="class" [routerLinkActive]="'is-active-link'">Class</a>
  </li>

  <li>
    <a class="link" routerLink="style" [routerLinkActive]="'is-active-link'">Style</a>
  </li>

  <li>
    <a class="link" routerLink="attribute" [routerLinkActive]="'is-active-link'">Attribute</a>
  </li>
</ul>

<router-outlet></router-outlet>
