<div class="container">
  <h2>Session 3 content examples</h2>

  <ul class="pt-2rem pb-2rem d-flex flex-wrap ai-center gap-1rem" role="list">
    <li>
      <a class="link" routerLink="template-variable-reference" [routerLinkActive]="'is-active-link'">Template Variable Reference</a>
    </li>

    <li>
      <a class="link" routerLink="view-child" [routerLinkActive]="'is-active-link'">View Child</a>
    </li>

    <li>
      <a class="link" routerLink="view-children" [routerLinkActive]="'is-active-link'">View Children</a>
    </li>

    <li>
      <a class="link" routerLink="content-projection" [routerLinkActive]="'is-active-link'">Content Projection</a>
    </li>

    <li>
      <a class="link" routerLink="at-input" [routerLinkActive]="'is-active-link'">At Input</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
