<div class="container">
  <ul class="pt-2rem pb-2rem d-flex flex-wrap jc-between ai-center gap-1rem" role="list">
    <li>
      <a class="link" routerLink="one-binding" [routerLinkActive]="'is-active-link'">One way data binding</a>
    </li>

    <li>
      <a class="link" routerLink="two-binding" [routerLinkActive]="'is-active-link'">Two way data binding</a>
    </li>

    <li>
      <a class="link" routerLink="control-flow" [routerLinkActive]="'is-active-link'">Control Flow</a>
    </li>

    <li>
      <a class="link" routerLink="session-3" [routerLinkActive]="'is-active-link'">Session 3</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
