body {
  background-color: #212121;
  color: #fff;

  font-family: sans-serif;
}

.container {
  max-inline-size: min(100%, 75rem);
  margin-inline: auto;
  padding-inline: 1rem;
}

.pb-2rem {
  padding-block-end: 2rem;
}

.img {
  max-inline-size: 12rem;
}

.d-flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.gap-1rem {
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.has-bg-blue {
  background-color: rgb(78, 78, 166);
}
