body {
  background-color: #212121;
  color: #fff;

  font-family: sans-serif;
}

a {
  color: darkkhaki;

  text-decoration: none;
}

.container {
  max-inline-size: min(100%, 75rem);
  margin-inline: auto;
  padding-inline: 1rem;
}

.pt-2rem {
  padding-block-start: 2rem;
}

.pb-2rem {
  padding-block-end: 2rem;
}

.img {
  max-inline-size: 12rem;
}

.d-flex {
  display: flex;
}

.jc-between {
  justify-content: space-between;
}

.ai-center {
  align-items: center;
}

.gap-1rem {
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.has-bg-blue {
  background-color: rgb(78, 78, 166);
}

.is-active-link {
  padding-block: 0.5rem;
  padding-inline: 0.25rem;

  border-radius: 0.25rem;

  background-color: darkkhaki;
  color: black;

  text-decoration: none;
}
