<h4>view-children-example</h4>

<p #pElement data-value="This is a custom attribute 1">
  Lorem ipsum dolor sit amet.
</p>

<p #pElement data-value="This is a custom attribute 2">
  Lorem ipsum dolor sit amet.
</p>

<p #pElement data-value="This is a custom attribute 3">
  Lorem ipsum dolor sit amet.
</p>

<p #pElement data-value="This is a custom attribute 4">
  Lorem ipsum dolor sit amet.
</p>

<p #pElement data-value="This is a custom attribute 5">
  Lorem ipsum dolor sit amet.
</p>

<button type="button" (click)="showCustomAttributeValueHandler()">Show Custom Attribute Values</button>
